@CHARSET "UTF-8";


body {
	color:#313131;
	background:#f4f4f6;
}
li.first {
    border: 1px solid #ccc;
    background-color: #FFF;
}

a.art-title {
	color:#313131;
}
a.art-title tr:hover {
	color:#CD0A0A;
}

.url {
	color:#313131;
}


.absolute {
	color:#313131;
	background:rgba(255,255,255,1);
}

.absolute:hover {
	color:#CD0A0A;
}


#menu-block {
	background: #FFF;
}

.first tbody tr:hover {
	background: #EEE;
}

.mosaic-block {
border:1px solid #ccc;
}