@CHARSET "UTF-8";

body {
	color:#FFF;
	background:#333;
}

li.first {
    border: 1px solid #ccc;
    background-color: #555;
}
a.art-title {
	color:#FFF;
}
a.art-title tr:hover {
	color:#CD0A0A;
}

.url {
	color:#FFF;
}

.absolute {
	color:#FFF;
	background:rgba(0,0,0,0.8);
}

#menu-block {
	background: #333;
}

.first tbody tr:hover {
	background: #444;
}
.mosaic-block {
border:1px solid #fff;
}