#link-body {
	position:relative;
	height:90%;
	width:100%;
	opacity: 0;
				   filter: alpha(opacity=0);
				   -ms-filter: "alpha(opacity=0)";
}

#link-body a {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

#link-body b {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

#menu{
	float:left;
    width: 59%;
    margin: 0;
}
#menu ol{
	font:14px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#aaa; text-shadow:1px 1px 0 rgb(0,0,0);
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	margin :0;
}


#menu li a {
			display: inline-block;
			width: 100%;
			height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
}
#menu a:link { color: #ffffff; }
#menu a:visited { color: #ffffff; }
#menu a:hover { color: #ff0000; }
#menu a:active { color: #ff0000; }

#menu li b {
			display: inline-block;
			width: 100%;
			height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
}
#menu b:link { color: #ffffff; }
#menu b:visited { color: #ffffff; }
#menu b:hover { color: #ff0000; }
#menu b:active { color: #ff0000; }

#menu2{
	float:left;
	width: 100%;

}

#menu-block {
	width: 100%;
	height: 42px;
	position: absolute;
	bottom: 0;
	/*background:#111;*/
}

#menu2 a:hover img {

					opacity: 0.5;
				   filter: alpha(opacity=50);
				   -ms-filter: "alpha(opacity=50)";

				   }
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    font-family: ü‡ÉSÉVÉbÉNëÃ, 'Yu Gothic', YuGothic, 'ÉqÉâÉMÉmäpÉSÉVÉbÉN Pro', 'Hiragino Kaku Gothic Pro', ÉÅÉCÉäÉI, Meiryo, Osaka, 'ÇlÇr ÇoÉSÉVÉbÉN', 'MS PGothic', sans-serif;
    top: 0px;
    /*color: #fff;*/
     font-size: 19px;
    /*background: rgba(0,0,0,0.8);*/
    width: 100%;
    max-width: 100%;
    height: 55px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:2;
}

@media only screen and (max-width: 1024px) {
.absolute {
    position: absolute;
    font-family: ü‡ÉSÉVÉbÉNëÃ, 'Yu Gothic', YuGothic, 'ÉqÉâÉMÉmäpÉSÉVÉbÉN Pro', 'Hiragino Kaku Gothic Pro', ÉÅÉCÉäÉI, Meiryo, Osaka, 'ÇlÇr ÇoÉSÉVÉbÉN', 'MS PGothic', sans-serif;
    top: 0px;
    /*color: #fff;*/
     font-size: 18px;
    /*background: rgba(0,0,0,0.8);*/
    width: 100%;
    max-width: 100%;
    height: 55px;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:2;
}


input#searchsubmit{

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border:none;
    width:18px; height:18px;
}

input#searchsubmit {
    background:url(../img/search.png) no-repeat 0 ;
    position:relative; top:0px; right:28px;
}