
@charset "UTF-8";
#onoffswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left:38%;
    bottom: -4px;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "許可";
    padding-left: 0px;
    background-color: #03A9F4;
}
.onoffswitch-inner:after {
    content: "拒否";
    padding-right: 13px;
    background-color: #7D7D7D;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: -1px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #FFF; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -10px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #03A9F4;
}

<!-- -->

#onlineswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left:38%;
    bottom: -4px;

}
.onlineswitch-checkbox {
    display: none;
}
.onlineswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 25px;
}
.onlineswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onlineswitch-inner:before, .onlineswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onlineswitch-inner:before {
    content: "On";
    padding-left: 0px;
    background-color: #03A9F4;
}
.onlineswitch-inner:after {
    content: "Off";
    padding-right: 13px;
    background-color: #7D7D7D;
    text-align: right;
}
.onlineswitch-switch {
    display: block; width: 30px; margin: -1px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #FFF; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.onlineswitch-checkbox:checked + .onlineswitch-label .onlineswitch-inner {
    margin-left: -10px;
}
.onlineswitch-checkbox:checked + .onlineswitch-label .onlineswitch-switch {
    right: 0px;
    background-color: #03A9F4;
}

<!-- -->

#autoswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left:38%;
    bottom: -4px;

}
.autoswitch-checkbox {
    display: none;
}
.autoswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 25px;
}
.autoswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.autoswitch-inner:before, .autoswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.autoswitch-inner:before {
    content: "On";
    padding-left: 0px;
    background-color: #03A9F4;
}
.autoswitch-inner:after {
    content: "Off";
    padding-right: 13px;
    background-color: #7D7D7D;
    text-align: right;
}
.autoswitch-switch {
    display: block; width: 30px; margin: -1px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #FFF; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.autoswitch-checkbox:checked + .autoswitch-label .autoswitch-inner {
    margin-left: -10px;
}
.autoswitch-checkbox:checked + .autoswitch-label .autoswitch-switch {
    right: 0px;
    background-color: #03A9F4;
}

<!-- -->

#onthemaswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left:38%;
    bottom: -4px;

}
.onthemaswitch-checkbox {
    display: none;
}
.onthemaswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 25px;
}
.onthemaswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onthemaswitch-inner:before, .onthemaswitch-inner:after {
    display: block; float: left; width: 50%; height: 28px; padding: 0; line-height: 28px;
    font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onthemaswitch-inner:before {
    content: "dark";
    padding-left: 0px;
    background-color: #03A9F4;
}
.onthemaswitch-inner:after {
    content: "light";
    padding-right: 13px;
    background-color: #7D7D7D;
    text-align: right;
}
.onthemaswitch-switch {
    display: block; width: 30px; margin: -1px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 53px;
    border: 2px solid #FFF; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.onthemaswitch-checkbox:checked + .onthemaswitch-label .onthemaswitch-inner {
    margin-left: -10px;
}
.onthemaswitch-checkbox:checked + .onthemaswitch-label .onthemaswitch-switch {
    right: 0px;
    background-color: #03A9F4;
}