.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -2.6em; /* Override this to center text if you use a label other than "on" */
}
.ui-flipswitch .ui-flipswitch-off {
	text-indent: 1em; /* Override this to center text if you use a label other than "off" */
}
.ui-flipswitch {
	width: 5.875em;  /* Override this and padding-left in next rule if you use labels other than "on/off" and need more space */
}
.ui-flipswitch.ui-flipswitch-active {
	padding-left: 4em;  /* Override this and width in previous rule if you use labels other than "on/off" and need more space */
	width: 1.875em;
}
html .ui-field-contain > label + .ui-flipswitch,
html .ui-popup .ui-field-contain > label + .ui-flipswitch {
	width: 5.875em; /* If you override the width for .ui-flipswitch you should repeat the same value here */
}