/* @import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic); */



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*PCを想定したディスプレイサイズ*/
@media only screen and (min-width: 1025px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 220px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 220px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 448px; }
.grid-item--3 { width: 448px;  height: 448px; }

}


/*NEXUS9 or iPad(横向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 1024px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 460px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 230px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 460px; }
.grid-item--3 { width: 460px;  height: 468px; }

}


/*NEXUS9 or iPad(縦向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 991px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 350px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 250px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 709px; }
.grid-item--3 { width: 709px;  height: 609px; }

}

/*iPhone6+(横向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 767px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 344px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 244px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 696px; }
.grid-item--3 { width: 696px;  height: 488px; }

}




/*iPhone6(横向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 735px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 310px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 210px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 628px; }
.grid-item--3 { width: 628px;  height: 420px; }

}


/*iPhone5(横向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 666px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 260px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 162px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 530px; }
.grid-item--3 { width: 530px;  height: 324px; }

}

/*iPhone6+(縦向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 567px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 384px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 200px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 384px; }
.grid-item--3 { width: 384px;  height: 200px; }

}


/*iPhone6(縦向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 413px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 340px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 200px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 340px; }
.grid-item--3 { width: 340px;  height: 200px; }

}

/*iPhone5(縦向き)を想定したディスプレイサイズ*/
@media only screen and (max-width: 374px) {

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

body {
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"游ゴシック" ,  "ヒラギノ角ゴ Pro W3"  , "メイリオ"  , "ＭＳ Ｐゴシック"  ,  sans-serif;

}


/* ---- grid ---- */

.grid {
  background: #333;
    max-width: 1500px;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 290px;
  margin: 4px 4px 4px 4px;
}

.grid-item {
  float: left;
  height: 200px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);

}

.grid-item--width2 { width: 290px; }
.grid-item--3 { width: 290px;  height: 200px; }

}



