

/* Form Layout */
.form-wrapper {

  margin: 3em auto;
  padding: 0 1em;
  max-width: 400px;
}

h1 {
  text-align: left;

}




form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"ŸàƒSƒVƒbƒN" ,  "ƒqƒ‰ƒMƒmŠpƒS Pro W3"  , "ƒƒCƒŠƒI"  , "‚l‚r ‚oƒSƒVƒbƒN"  ,  sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto ,"ŸàƒSƒVƒbƒN" ,  "ƒqƒ‰ƒMƒmŠpƒS Pro W3"  , "ƒƒCƒŠƒI"  , "‚l‚r ‚oƒSƒVƒbƒN"  ,  sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {

}

.form-footer a:hover {

}